h1{
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
  }
  h2{
      color: black;
      font-size: 40px;
      text-align: center;
      font-family: sans-serif;
    }
    h3{
        color: black;
        font-size: 30px;
        text-align: left;
        font-family: sans-serif;
      }
      h4{
          color: black;
          font-size: 40px;
          text-align: center;
          font-family: sans-serif;
        }

      h5{
          color: black;
          font-size: 30px;
          text-align: left;
          font-family: sans-serif;
        }
        h6{
            color: black;
            font-size: 40px;
            text-align: center;
            font-family: sans-serif;
          }
      h7{
              color: black;
              font-size: 30px;
              text-align: left;
              font-family: sans-serif;
            }
            h8{
              color: black;
              font-size: 20px;
              text-align: center;
            }
  p{
      color: black;
      font-size: 20px;
      text-align: center;
      font-family: sans-serif;
    }
